# Use the latest 2.1 version of CircleCI pipeline process engine.
version: 2.1

jobs:
  say-hello:
    docker:
     
      - image: cimg/base:current

   
    steps:
    
      - run:
          name: "Say hello"
          command: "echo Hello, World!"


workflows:
  say-hello-workflow: 
    jobs:
      - say-hello
